.container {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
}

.letter {
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
    width: 2em;
    height: 2em;
}

.letter:hover,
.letter:focus {
    background-color: hsl(200, 100%, 75%);
}
