.container {
    display: flex;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 3.5em;
    font-weight: bold;
    gap: 0.2em;
}

.letter {
    border-bottom: 0.1em solid black;
}
